{{- $chassisType := "desktop" }}
{{- if eq .chezmoi.os "darwin" }}
{{-   if contains "MacBook" (output "system_profiler" "SPHardwareDataType") }}
{{-     $chassisType = "laptop" }}
{{-   else }}
{{-     $chassisType = "desktop" }}
{{-   end }}
{{- else if eq .chezmoi.os "linux" }}
{{-   $chassisType = (output "hostnamectl" "--json=short" | mustFromJson).Chassis }}
{{- else if eq .chezmoi.os "windows" }}
{{-   $chassisType = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "if ((Get-CimInstance -Class Win32_Battery | Measure-Object).Count -gt 0) { Write-Output 'laptop' } else { Write-Output 'desktop' }") | trim }}
{{- end -}}
// -*- mode: jsonc -*-
{
  "height": 30,
  "spacing": 4,
  "modules-left": ["niri/workspaces", "cffi/niri-taskbar", "niri/window"],
  "modules-center": [],
  "modules-right": [
    "mpd",
    {{ if eq $chassisType "laptop" -}}
    "idle_inhibitor",
    "power-profiles-daemon",
    {{- end }}
    "pulseaudio",
    "network",
    "cpu",
    "memory",
    "temperature",
    "backlight",
    "keyboard-state",
    "battery",
    "clock",
    "tray",
    "custom/power",
  ],
  "keyboard-state": {
    "numlock": true,
    "capslock": true,
    "format": "{name} {icon}",
    "format-icons": {
      "locked": "",
      "unlocked": "",
    },
  },
  "mpd": {
    "format": "{stateIcon} {consumeIcon}{randomIcon}{repeatIcon}{singleIcon}{artist} - {album} - {title} ({elapsedTime:%M:%S}/{totalTime:%M:%S}) ⸨{songPosition}|{queueLength}⸩ {volume}% ",
    "format-disconnected": "Disconnected ",
    "format-stopped": "{consumeIcon}{randomIcon}{repeatIcon}{singleIcon}Stopped ",
    "unknown-tag": "N/A",
    "interval": 5,
    "consume-icons": {
      "on": " ",
    },
    "random-icons": {
      "off": "<span color=\"#f53c3c\"></span> ",
      "on": " ",
    },
    "repeat-icons": {
      "on": " ",
    },
    "single-icons": {
      "on": "1 ",
    },
    "state-icons": {
      "paused": "",
      "playing": "",
    },
    "tooltip-format": "MPD (connected)",
    "tooltip-format-disconnected": "MPD (disconnected)",
  },
  "idle_inhibitor": {
    "format": "{icon}",
    "format-icons": {
      "activated": "",
      "deactivated": "",
    },
  },
  "tray": {
    "spacing": 10,
  },
  "clock": {
    "interval": 1,
    "format": "<small>{0:%m-%d (%a)\n%H:%M:%S}</small>",
    "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
    "on-click": "notion-calendar-electron",
  },
  "cpu": {
    "format": "{usage}% ",
    "format-alt": "{avg_frequency} GHz ",
  },
  "memory": {
    "format": "{}% ",
    "format-alt": "{used}/{total} GB ",
    "tooltip-format": "Memory: {used}/{total} GB ({percentage}%)\nSwap: {swapUsed}/{swapTotal} GB ({swapPercentage}%)",
  },
  "temperature": {
    "critical-threshold": 80,
    "format": "{temperatureC}°C {icon}",
    "format-icons": ["", "", ""],
  },
  "backlight": {
    "format": "{percent}% {icon}",
    "format-icons": ["", "", "", "", "", "", "", "", ""],
  },
  "battery": {
    "states": {
      "warning": 30,
      "critical": 15,
    },
    "format": "{capacity}% {icon}",
    "format-full": "{capacity}% {icon}",
    "format-charging": "{capacity}% ",
    "format-plugged": "{capacity}% ",
    "format-alt": "{time} {icon}",
    "format-icons": ["", "", "", "", ""],
  },
  "power-profiles-daemon": {
    "format": "{icon}",
    "tooltip-format": "Power profile: {profile}\nDriver: {driver}",
    "tooltip": true,
    "format-icons": {
      "default": "",
      "performance": "",
      "balanced": "",
      "power-saver": "",
    },
  },
  "network": {
    "format-wifi": "{essid} ({signalStrength}%) ",
    "format-ethernet": "{ipaddr}/{cidr} ",
    "tooltip-format": "{ifname} via {gwaddr} ",
    "format-linked": "{ifname} (No IP) ",
    "format-disconnected": "Disconnected ⚠",
    "format-alt": "{ifname}: {ipaddr}/{cidr}",
  },
  "pulseaudio": {
    "format": "{volume}% {icon} {format_source}",
    "format-bluetooth": "{volume}% {icon} {format_source}",
    "format-bluetooth-muted": " {icon} {format_source}",
    "format-muted": " {format_source}",
    "format-source": "{volume}% ",
    "format-source-muted": "",
    "format-icons": {
      "headphone": "",
      "hands-free": "",
      "headset": "",
      "phone": "",
      "portable": "",
      "car": "",
      "default": ["", "", ""],
    },
    "on-click": "pavucontrol",
  },
  "custom/power": {
    "format": " ⏻ ",
    "tooltip": false,
    "menu": "on-click",
    "menu-file": "$HOME/.config/waybar/power_menu.xml",
    "menu-actions": {
      "shutdown": "systemctl poweroff",
      "reboot": "systemctl reboot",
      "suspend": "systemctl suspend",
      "hibernate": "systemctl hibernate",
    },
  },
  "cffi/niri-taskbar": {
    "module_path": "/usr/lib/waybar/libniri_taskbar.so",
    "on-click": "activate",
  },
}
