* {
	border: none;
	border-radius: 0;
	font-family: "Monaspace Argon";
	font-size: 13px;
	min-height: 0;
}

window#waybar {
	background: rgba(0,0,0,0.7);
	color: white;
}

.module {
	padding: 0 5px;
}

tooltip label {
	margin: 0;
}

box#workspaces button {
	min-width: 20px;
	padding: 0;
	color: white;
}

box#keyboard-state {
	padding: 0;
}

box#keyboard-state label {
font-size: 0;
	padding: 0;
}

box#keyboard-state label.locked {
	font-size: 13px;
	padding: 0 5px;
}
